/* contato.css */
@import "tailwindcss";
.contato-container {
    padding: 20px;
    
}

.contato-container h1,
.contato-container h2 {
    color: #1d4ed8;
    
}

.contato-container p {
    line-height: 1.6;
}