/* main.css */
@import "tailwindcss";
body {
    font-family: Arial, sans-serif;
    background-color:#3d3b55;
    margin: 0;
    padding: 0;
}

.nav-main{
    background-color: #202b48;
}

/* Header e Navbar */
header {
    background-color:#202b48; /* equivalente ao bg-blue-900 */
    padding: 10px 0;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo {
    display: flex;
    align-items: center;
}
header nav .logo img {
    max-height: 50px;
    margin-right: 10px;
}
header nav a {
    color: #cbd5e1; /* cor clara para links */
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
}
header nav a:hover {
    color: #fff;
}

/* Footer */
footer {
    margin-top: 100px;
    background-color: #20232e;
    color: #cbd5e1;
    text-align: center;
    padding: 20px 0;
    position: relative;
}
footer .footer-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    margin-bottom: 50px;
}
footer .footer-info a {
    color: #fff;
    text-decoration: none;
}
footer .footer-info a:hover {
    text-decoration: underline;
}
