<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nono Veio do Rio</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">	
</head>
<body>
    <header>
        <nav class="bg-blue-900">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
            <a href="/" class="text-white font-bold text-xl">Nono Iscas e Conveniência</a>
            <div class="hidden md:flex space-x-4">
                <a href="/" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Início</a>
                <a href="/produtos" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Produtos</a>
                <a href="/contato" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contato</a>
                <a href="/login" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
            </div>
            <div class="md:hidden">
                <button id="mobile-menu-button" class="text-gray-300 hover:text-white focus:outline-none">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                </button>
            </div>
            </div>
            <!-- Menu mobile -->
            <div id="mobile-menu" class="hidden md:hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                <a href="/" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium">Início</a>
                <a href="/produtos" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium">Produtos</a>
                <a href="/contato" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium">Contato</a>
                <a href="/login" class="block text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium">Login</a>
            </div>
            </div>
        </div>
        </nav>
    </header>
    {{{body}}}

    

<!-- Footer -->
    <footer class="bg-blue-900 text-gray-300 p-4 mt-10 text-center">
        <p>&copy; 2025 MinhaVitrine. Todos os direitos reservados.</p>
    </footer>

    <!-- Script para o menu mobile -->
    <script>
        const btn = document.getElementById('mobile-menu-button');
        const menu = document.getElementById('mobile-menu');
        btn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
        });
    </script>
</body>
</html>