<main class="mt-10">
        <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg animate-fadeIn">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Login</h1>
        <form id="login-form" class="space-y-4" action="/login" method="post">
            <div>
            <label for="username" class="block text-gray-700">Usuário</label>
            <input type="text" id="username" name="username" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
            </div>
            <div>
            <label for="password" class="block text-gray-700">Senha</label>
            <input type="password" id="password" name="password" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
            </div>
            <button type="submit" class="w-full bg-blue-900 text-white p-2 rounded hover:bg-blue-800 transition">Entrar</button>
            <!-- Aqui você pode exibir uma mensagem de erro, caso a query string error esteja presente -->
            <p id="error-msg" class="text-red-500 text-sm" style="display: none;">Credenciais inválidas.</p>
        </form>
        </div>
</main>
