<main>
<div class="container py-5">
    <h1 class="text-center mb-4">Sobre a Loja</h1>
    <p>
        A <strong>Nono Iscas e Conveniência</strong> foi fundada por Carlos Roberto, mais conhecido como <strong>Nonô Véio do Rio</strong>, 
        um pescador expriente com mais de 10 anos de experiência nas águas do Rio Paranazão.
    </p>
    <p>
        A loja oferece de tudo: iscas, varas, anzóis, roupas, bebidas e muito mais.
        É o lugar ideal para pescadores iniciantes e veteranos se prepararem para grandes aventuras.
    </p>
    
</div>
</main>